---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro'
import { connection } from '../../../lib/db';

export async function getStaticPaths() {
    async function getPosts() {
  try {
    let data = await new Promise((resolve, reject) => {
      //Query a DB
      connection.query('SELECT * FROM posts', (error, results, fields) => {
                if (error) {
                    reject(error);
                } else {
                    resolve(results);
                }
            });
    });

    return data;
  } catch (error) {
    console.error("Error:", error);
  }
}

const posts = await getPosts();

  return posts.map((post) => {
    return {
      params: { slug: post.titulo },
      props: { post },
    };
  });
}

const { post } = Astro.props;
console.log("Datos desde Slug", post)

const date = new Date(post.fecha)
const formatDate = date.toISOString().split('T')[0]
---

<Layout title="Blog | MundoCode">
	<Header/>

  <section class="mt-16">
    <img class="h-auto max-w-full" src={post.imagen} alt="image description">
  </section>

  <section>
    <div class=" flex flex-row justify-around">
      <p class="text-lg">{formatDate}</p>
      <span class="bg-yellow-100 text-yellow-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded-lg dark:bg-yellow-900 dark:text-yellow-300">{post.categoria}</span>
    </div>
    <h1 class="mx-auto text-center p-10 font-bold text-3xl">{post.titulo}</h1>
    <p class="p-5 font-semibold text-xl">
      {post.contenido}
    </p>
  </section>
</Layout>